Repository LimeChain/Rock-Node: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-audit

.pre-commit-config.yaml:

# Pre-commit configuration for Rock Node
# See https://pre-commit.com for more information
# Install with: pip install pre-commit
# Setup with: pre-commit install

repos:
  # Rust formatting and linting
  - repo: local
    hooks:
      # Format Rust code with rustfmt
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code
        entry: cargo
        args: [fmt, --all, --]
        language: system
        files: \.rs$
        pass_filenames: false

      # Lint Rust code with clippy
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code
        entry: cargo
        args: [clippy, --all-targets, --all-features, --workspace, --, -W, "clippy::pedantic", -A, "clippy::doc_overindented_list_items", -A, "clippy::doc_lazy_continuation", -A, "clippy::large_enum_variant", -A, unused-imports, -A, dead-code, -A, "clippy::derivable_impls", -A, "clippy::clone_on_copy", -A, "clippy::needless_borrows_for_generic_args", -A, "clippy::empty_line_after_doc_comments", -A, "clippy::assertions_on_constants"]
        language: system
        files: \.rs$
        pass_filenames: false

      # Run cargo check to ensure compilation
      - id: cargo-check
        name: cargo check
        description: Check Rust compilation
        entry: cargo
        args: [check, --all-targets, --all-features, --workspace]
        language: system
        files: \.rs$
        pass_filenames: false

  # General file formatting and checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Remove trailing whitespace
      - id: trailing-whitespace
        exclude: ^.*\.(md|rst)$

      # Ensure files end with newline
      - id: end-of-file-fixer
        exclude: ^.*\.(md|rst)$

      # Check for large files
      - id: check-added-large-files
        args: ['--maxkb=1000']

      # Check YAML/TOML syntax
      - id: check-yaml
      - id: check-toml

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for private keys
      - id: detect-private-key

  # Security audit (local)
  - repo: local
    hooks:
      - id: cargo-audit
        name: cargo audit
        description: Audit Rust dependencies for security vulnerabilities
        entry: bash
        args: [-c, 'if command -v cargo-audit >/dev/null 2>&1; then cargo audit; else echo "cargo-audit not installed, skipping..."; fi']
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false

  # Docker and documentation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Check JSON syntax
      - id: check-json

      # Check shell scripts
      - id: check-executables-have-shebangs

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat: update proto
  Cargo.lock
  app/rock-node/src/main.rs
  crates/rock-node-backfill-plugin/examples/backfill_continious_mode.rs
  crates/rock-node-backfill-plugin/src/lib.rs
  crates/rock-node-backfill-plugin/src/worker.rs
  crates/rock-node-block-access-plugin/src/lib.rs
  crates/rock-node-core/src/app_context.rs
  crates/rock-node-core/src/events.rs
  crates/rock-node-core/src/plugin.rs
  crates/rock-node-core/src/test_utils.rs
  crates/rock-node-observability-plugin/src/lib.rs
  crates/rock-node-persistence-plugin/src/hot_tier.rs
  crates/rock-node-persistence-plugin/src/state.rs
  crates/rock-node-protobufs/build.rs
  crates/rock-node-protobufs/src/lib.rs
  crates/rock-node-publish-plugin/src/lib.rs
  crates/rock-node-publish-plugin/src/service.rs
  crates/rock-node-publish-plugin/src/session_manager.rs
  crates/rock-node-publish-plugin/src/state.rs
  crates/rock-node-query-plugin/src/handlers/consensus_handler.rs
  crates/rock-node-query-plugin/src/handlers/crypto_handler.rs
  crates/rock-node-query-plugin/src/handlers/file_handler.rs
  crates/rock-node-query-plugin/src/handlers/network_handler.rs
  crates/rock-node-query-plugin/src/handlers/schedule_handler.rs
  crates/rock-node-query-plugin/src/handlers/token_handler.rs
  crates/rock-node-query-plugin/src/services/contract_service.rs
  crates/rock-node-server-status-plugin/src/lib.rs
  crates/rock-node-state-management-plugin/src/plugin.rs
  crates/rock-node-state-management-plugin/src/state_manager.rs
  crates/rock-node-subscriber-plugin/src/session.rs
  crates/rock-node-verifier-plugin/Cargo.toml
  crates/rock-node-verifier-plugin/src/lib.rs
  proto/block-node/api/shared_message_types.proto
  proto/block_stream_publish_service.proto
  proto/block_stream_subscribe_service.proto
  tests/e2e/src/common/block_builder.rs
  tests/integration/src/fixtures/mock_plugins.rs
  tests/integration/src/fixtures/test_context.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-audit

update publisher doc
  docs/publisher/design-doc.md
Due: none

add more tests
  crates/rock-node-publish-plugin/src/session_manager.rs
  docs/publisher/design-doc.md
Due: cargo-fmt, cargo-clippy, cargo-check

feat: update to latest protobuf changes (#122)
  Cargo.lock
  app/rock-node/src/main.rs
  crates/rock-node-backfill-plugin/examples/backfill_continious_mode.rs
  crates/rock-node-backfill-plugin/src/lib.rs
  crates/rock-node-backfill-plugin/src/worker.rs
  crates/rock-node-block-access-plugin/src/lib.rs
  crates/rock-node-core/src/app_context.rs
  crates/rock-node-core/src/events.rs
  crates/rock-node-core/src/plugin.rs
  crates/rock-node-core/src/test_utils.rs
  crates/rock-node-observability-plugin/src/lib.rs
  crates/rock-node-persistence-plugin/src/hot_tier.rs
  crates/rock-node-persistence-plugin/src/state.rs
  crates/rock-node-protobufs/build.rs
  crates/rock-node-protobufs/src/lib.rs
  crates/rock-node-publish-plugin/src/lib.rs
  crates/rock-node-publish-plugin/src/service.rs
  crates/rock-node-publish-plugin/src/session_manager.rs
  crates/rock-node-publish-plugin/src/state.rs
  crates/rock-node-query-plugin/src/handlers/consensus_handler.rs
  crates/rock-node-query-plugin/src/handlers/crypto_handler.rs
  crates/rock-node-query-plugin/src/handlers/file_handler.rs
  crates/rock-node-query-plugin/src/handlers/network_handler.rs
  crates/rock-node-query-plugin/src/handlers/schedule_handler.rs
  crates/rock-node-query-plugin/src/handlers/token_handler.rs
  crates/rock-node-query-plugin/src/services/contract_service.rs
  crates/rock-node-server-status-plugin/src/lib.rs
  crates/rock-node-state-management-plugin/src/plugin.rs
  crates/rock-node-state-management-plugin/src/state_manager.rs
  crates/rock-node-subscriber-plugin/src/session.rs
  crates/rock-node-verifier-plugin/Cargo.toml
  crates/rock-node-verifier-plugin/src/lib.rs
  docs/publisher/design-doc.md
  proto/block-node/api/shared_message_types.proto
  proto/block_stream_publish_service.proto
  proto/block_stream_subscribe_service.proto
  tests/e2e/src/common/block_builder.rs
  tests/integration/src/fixtures/mock_plugins.rs
  tests/integration/src/fixtures/test_context.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-audit

improve publisher
  Cargo.lock
  crates/rock-node-core/src/config.rs
  crates/rock-node-core/src/metrics.rs
  crates/rock-node-publish-plugin/Cargo.toml
  crates/rock-node-publish-plugin/src/error.rs
  crates/rock-node-publish-plugin/src/lib.rs
  crates/rock-node-publish-plugin/src/service.rs
  crates/rock-node-publish-plugin/src/session_manager.rs
  crates/rock-node-publish-plugin/src/validation.rs
  crates/rock-node-subscriber-plugin/src/session.rs
  tests/e2e/src/tests/ingestion_suite.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-audit

add more e2e tests
  config/config.e2e.toml
  crates/rock-node-publish-plugin/src/session_manager.rs
  tests/e2e/src/tests/mod.rs
  tests/e2e/src/tests/publish/basic.rs
  tests/e2e/src/tests/publish/mod.rs
  tests/e2e/src/tests/publish/multi_publisher_basic.rs
  tests/e2e/src/tests/publish/validation_errors.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix unit test
  crates/rock-node-subscriber-plugin/src/session.rs
Due: cargo-fmt, cargo-clippy, cargo-check

subscriber hardening
  crates/rock-node-subscriber-plugin/src/error.rs
  crates/rock-node-subscriber-plugin/src/service.rs
  crates/rock-node-subscriber-plugin/src/session.rs
  tests/e2e/src/tests/mod.rs
  tests/e2e/src/tests/subscribe/basic.rs
  tests/e2e/src/tests/subscribe/edge_cases.rs
  tests/e2e/src/tests/subscribe/failure_scenarios.rs
  tests/e2e/src/tests/subscribe/mod.rs
  tests/e2e/src/tests/subscribe/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check

minor improvements
  .github/workflows/release.yml
  config/config.toml
  crates/rock-node-backfill-plugin/src/worker.rs
  crates/rock-node-block-access-plugin/src/service.rs
  crates/rock-node-publish-plugin/src/error.rs
  crates/rock-node-publish-plugin/src/session_manager.rs
  crates/rock-node-subscriber-plugin/src/session.rs
Due: cargo-fmt, cargo-clippy, cargo-check

apply coderabbit review comments
  .github/workflows/release.yml
  config/config.toml
  crates/rock-node-publish-plugin/src/session_manager.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: publisher plugin hardening (#123)
  .github/workflows/release.yml
  Cargo.lock
  config/config.e2e.toml
  config/config.toml
  crates/rock-node-backfill-plugin/src/worker.rs
  crates/rock-node-block-access-plugin/src/service.rs
  crates/rock-node-core/src/config.rs
  crates/rock-node-core/src/metrics.rs
  crates/rock-node-publish-plugin/Cargo.toml
  crates/rock-node-publish-plugin/src/error.rs
  crates/rock-node-publish-plugin/src/lib.rs
  crates/rock-node-publish-plugin/src/service.rs
  crates/rock-node-publish-plugin/src/session_manager.rs
  crates/rock-node-publish-plugin/src/validation.rs
  crates/rock-node-subscriber-plugin/src/error.rs
  crates/rock-node-subscriber-plugin/src/service.rs
  crates/rock-node-subscriber-plugin/src/session.rs
  tests/e2e/src/tests/ingestion_suite.rs
  tests/e2e/src/tests/mod.rs
  tests/e2e/src/tests/publish/basic.rs
  tests/e2e/src/tests/publish/mod.rs
  tests/e2e/src/tests/publish/multi_publisher_basic.rs
  tests/e2e/src/tests/publish/validation_errors.rs
  tests/e2e/src/tests/subscribe/basic.rs
  tests/e2e/src/tests/subscribe/edge_cases.rs
  tests/e2e/src/tests/subscribe/failure_scenarios.rs
  tests/e2e/src/tests/subscribe/mod.rs
  tests/e2e/src/tests/subscribe/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-audit

improve release workflow
  .github/workflows/release.yml
  crates/rock-node-observability-plugin/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

apply coderabbit suggestion
  .github/workflows/release.yml
Due: none

improve release workflow (#124)
  .github/workflows/release.yml
  crates/rock-node-observability-plugin/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore: improve release workflow
  .github/workflows/release.yml
Due: none

chore: improve release workflow (#125)
  .github/workflows/release.yml
Due: none

improve release workflow
  .github/workflows/release.yml
Due: none

chore: improve release workflow (#127)
  .github/workflows/release.yml
Due: none

feat: add helm charts
  charts/rock-node/Chart.yaml
  charts/rock-node/README.md
  charts/rock-node/templates/_helpers.tpl
  charts/rock-node/templates/configmap.yaml.tpl
  charts/rock-node/templates/deployment.yaml.tpl
  charts/rock-node/templates/ingress.yaml.tpl
  charts/rock-node/templates/pvc.yaml.tpl
  charts/rock-node/templates/service.yaml.tpl
  charts/rock-node/templates/serviceaccount.yaml.tpl
  charts/rock-node/templates/servicemonitor.yaml.tpl
  charts/rock-node/values.yaml
  crates/rock-node-observability-plugin/src/lib.rs
  crates/rock-node-persistence-plugin/src/lib.rs
  crates/rock-node-state-management-plugin/src/plugin.rs
  nginx.conf
Due: cargo-fmt, cargo-clippy, cargo-check

feat: add helm charts (#128)
  charts/rock-node/Chart.yaml
  charts/rock-node/README.md
  charts/rock-node/templates/_helpers.tpl
  charts/rock-node/templates/configmap.yaml.tpl
  charts/rock-node/templates/deployment.yaml.tpl
  charts/rock-node/templates/ingress.yaml.tpl
  charts/rock-node/templates/pvc.yaml.tpl
  charts/rock-node/templates/service.yaml.tpl
  charts/rock-node/templates/serviceaccount.yaml.tpl
  charts/rock-node/templates/servicemonitor.yaml.tpl
  charts/rock-node/values.yaml
  crates/rock-node-observability-plugin/src/lib.rs
  crates/rock-node-persistence-plugin/src/lib.rs
  crates/rock-node-state-management-plugin/src/plugin.rs
  nginx.conf
Due: cargo-fmt, cargo-clippy, cargo-check

chore: update dep
  Cargo.lock
  Cargo.toml
  app/rock-node/Cargo.toml
  crates/rock-node-backfill-plugin/Cargo.toml
  crates/rock-node-block-access-plugin/Cargo.toml
  crates/rock-node-core/Cargo.toml
  crates/rock-node-observability-plugin/Cargo.toml
  crates/rock-node-persistence-plugin/Cargo.toml
  crates/rock-node-protobufs/Cargo.toml
  crates/rock-node-publish-plugin/Cargo.toml
  crates/rock-node-query-plugin/Cargo.toml
  crates/rock-node-server-status-plugin/Cargo.toml
  crates/rock-node-state-management-plugin/Cargo.toml
  crates/rock-node-subscriber-plugin/Cargo.toml
  crates/rock-node-verifier-plugin/Cargo.toml
  tests/e2e/Cargo.toml
  tests/integration/Cargo.toml
Due: cargo-audit

feat: improve persistence perf
  crates/rock-node-backfill-plugin/examples/backfill_continious_mode.rs
  crates/rock-node-backfill-plugin/src/lib.rs
  crates/rock-node-backfill-plugin/src/worker.rs
  crates/rock-node-core/src/block_writer.rs
  crates/rock-node-core/src/cache.rs
  crates/rock-node-core/src/test_utils.rs
  crates/rock-node-persistence-plugin/src/lib.rs
  crates/rock-node-persistence-plugin/src/service.rs
  tests/integration/src/tests/end_to_end_workflows.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: integration tests
  .github/workflows/code-quality.yml
  tests/integration/src/tests/end_to_end_workflows.rs
  tests/integration/src/tests/event_flow.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: e2e tests
  tests/e2e/src/tests/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Overall improvements (#129)
  .github/workflows/code-quality.yml
  Cargo.lock
  Cargo.toml
  app/rock-node/Cargo.toml
  crates/rock-node-backfill-plugin/Cargo.toml
  crates/rock-node-backfill-plugin/examples/backfill_continious_mode.rs
  crates/rock-node-backfill-plugin/src/lib.rs
  crates/rock-node-backfill-plugin/src/worker.rs
  crates/rock-node-block-access-plugin/Cargo.toml
  crates/rock-node-core/Cargo.toml
  crates/rock-node-core/src/block_writer.rs
  crates/rock-node-core/src/cache.rs
  crates/rock-node-core/src/test_utils.rs
  crates/rock-node-observability-plugin/Cargo.toml
  crates/rock-node-persistence-plugin/Cargo.toml
  crates/rock-node-persistence-plugin/src/lib.rs
  crates/rock-node-persistence-plugin/src/service.rs
  crates/rock-node-protobufs/Cargo.toml
  crates/rock-node-publish-plugin/Cargo.toml
  crates/rock-node-query-plugin/Cargo.toml
  crates/rock-node-server-status-plugin/Cargo.toml
  crates/rock-node-state-management-plugin/Cargo.toml
  crates/rock-node-subscriber-plugin/Cargo.toml
  crates/rock-node-verifier-plugin/Cargo.toml
  tests/e2e/Cargo.toml
  tests/e2e/src/tests/mod.rs
  tests/integration/Cargo.toml
  tests/integration/src/tests/end_to_end_workflows.rs
  tests/integration/src/tests/event_flow.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-audit
